@use '../../colors';
@use '../../breakpoints';

.datetime-wrapper {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    background-color: colors.$gray-50;
    border-radius: 15px;
    align-items: center;
    padding: 5px;

    &--date-time {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        &__date {
            width: 100%;

            p {
                font-weight: 600;
                font-size: 14px;
            }
        }

        &__time {
            width: 100%;

            p {
                font-weight: 500;
                color: colors.$gray-500;
                font-size: 12px;
            }
        }
    }

    // &--select-timezone {
    //     width: 100%;
    // }
}


@media only screen and (min-width: breakpoints.$xs) {
    .datetime-wrapper {

        &--date-time {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            &__date {
                width: 100%;

                p {
                    text-align: center;
                    font-weight: 600;
                    font-size: 18px;
                }
            }

            &__time {
                width: 100%;

                p {
                    text-align: center;
                    font-size: 16px;
                }
            }
        }

        // &--select-timezone {
        //     display: flex;
        //     width: 49%;
        // }
    }
}

@media only screen and (max-width: breakpoints.$xs) {
    .datetime-wrapper {

        &--date-time {
            width: 100%;

            &__date {
                width: 100%;
                white-space: nowrap;

                p {
                    font-size: 14px;

                }
            }

            &__time {
                width: 100%;

                p {
                    width: 100%;
                    font-size: 8px;
                }
            }
        }

        // &--select-timezone {
        //     display: none;
        // }
    }
}