@use '../../colors';
@use '../../breakpoints';

.admin-search-input {
    max-width: 250px;

    position: relative;

    input {
        border: 1px solid colors.$gray-200;
        padding: 12px 15px;
        border-radius: 15px;

        &:focus {
            outline: none;
            border: 1px solid colors.$blue-900;
        }
    }

    &--icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
    }
}