
$blue-100: #dbeafe;
$blue-200:#bfdbfe;
$blue-300:#93c5fd;
$blue-400: #60a5fa;
$blue-500: #3b82f6;
$blue-600: #2563eb;
$blue-700:#1d4ed8;
$blue-800:#1e40af;
$blue-900:#2389DA;

$gray-50:#f9fafb;
$gray-100: #f3f4f6;
$gray-200:#e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-800 : #2D3748;