@use './colors';

.admin-layout {
    display: flex;
    gap: 10px;
    position: relative;
    margin-right: 5px;
    &--main {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex-grow: 3;
        
        &__content {
            // background-color: white;
            border-radius: 10px;
            // padding: 10px;
            position: relative;
            // min-height: 90vh;
            .header-wrapper{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 10px;
                margin-bottom: 10px ;
                background-color: white;
                height: 50px;
                span{
                    padding: 10px 15px;
                    font-weight: 500;
                    border-radius: 10px;
                    &:nth-child(1){
                        background: colors.$blue-100;
                    }
                }
            }
        }
    }
}