@use './layout';
@use './colors';
@use './components/adminSearchbox';
@use './components/adminSidebar';
@use './components/adminTopbar.scss';
@use './components/adminCredits';
@use './components/adminCreditsTransactions';
@use './components//adminDelivery';
@use './components/adminInventory';
@use './components/textinput';
@use './components/textinputPassword.';
@use './components/textinputSelect';
@use './components//adminInventoryAddGallon';
@use './components/adminInventoryFloatingActionButton';
@use './components/adminInventoryAddVehicle';
@use './components/adminInventoryUpdateGallon';
@use './components/adminReports';
@use './components/adminDashboard';
@use './components/adminDashboardCard';
@use './components/adminDashboardCard2';
@use './components/adminCreditsNewTransaction';
@use './components/smallComponents';
@use './components/adminCustomerViewer';
@use './components/adminCustomers';
@use './components/loadingSpinner';
@use './pages/adminShop';

@use './components/home';
@use './components/HomeNavbar';
@use './components/homeRegister';
@use './components/homeLogin';
@use './components/map';
@use './components/errorModal';
@use './pages/homeVerify';


@use  './pages/reset.password/forgotPassword';
@use  './pages/reset.password/checkEmail';
@use  './pages/reset.password/passwordReset';
@use  './pages/reset.password/setNewPassword';

*,
::after,
::before {
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
}

body {
    background-color: colors.$gray-200;
    
    position: relative;
    max-width: 100vw;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
    
    &::-webkit-scrollbar {
        width: 10px;

    }

    &::-webkit-scrollbar-track {
        background-color: colors.$gray-100;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: colors.$gray-300;
        border-radius: 10px;
    }

}