@use './layout';
@use './colors';
@use './components/adminSearchbox';
@use './components/adminSidebar';
@use './components/adminTopbar.scss';
@use './components/adminCredits';
@use './components/adminCreditsTransactions';
@use './components//adminDelivery';
@use './components/adminInventory';
@use './components/adminTextinput';
@use './components//adminInventoryAddGallon';
@use './components/adminInventoryFloatingActionButton';
@use './components/adminInventoryAddVehicle';
@use './components/adminInventoryUpdateGallon';
@use './components/adminReports';
@use './components/adminDashboard';
@use './components/adminDashboardCard';
@use './components/adminCreditsNewTransaction';
@use './components/smallComponents';
@use './components/adminCustomerViewer';
@use './components/adminCustomers';

@use './pages/adminShop';

@use './components/home';
@use './components/HomeNavbar';
@use './components/homeRegister';
@use './components/homeLogin';
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: colors.$gray-100;
    overflow-x: hidden;
    position: relative;
    max-width: 100vw;
    scroll-behavior: smooth;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 10px;

    }

    &::-webkit-scrollbar-track {
        background-color: colors.$gray-100;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: colors.$gray-300;
        border-radius: 10px;
    }

}