@use '../colors';
@use '../breakpoints';

.admin-delivery {
    display: flex;
    flex-direction: column;

    p {
        font-size: 1.3rem;
        font-weight: 400;
        color: colors.$gray-800;
        margin-left: 10px;
    }
    &--ongoing-deliveries{
        border-radius: 15px;
        overflow: hidden;
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        &__header{
            background-color: colors.$blue-900;
            padding: 20px 10px;
            color: white;
        }
    }

}

.scroll-container {
    // indiana scroll
    padding: 10px;
}

.scroll-wrapper {
    // item's wrapper
    display: flex;
    gap: 15px;
    // min-width: 0;
    max-width: 10px;

    &--request {
        // items
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        &__delivery-personel {
            display: flex;
            align-items: center;
            gap: 10px;
            border-bottom: 2px solid colors.$gray-200;
            padding: 10px;

            img {
                height: 50px;
                width: auto;
                border-radius: 30px;
            }

            .delivery-name {
                display: flex;
                flex-direction: column;

                .person {
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: colors.$gray-800;
                    white-space: nowrap;
                }

                .vehicle {
                    font-size: 0.8rem;
                    font-weight: 600;
                    color: colors.$gray-400;
                    white-space: nowrap;
                }
            }

        }

        &__load {
            width: 100%;
            border-radius: 8px;
            tr {
                display: flex;
                justify-content: space-between;
                width: 100%;

                border-bottom: 1px solid colors.$gray-200;
                background-color: colors.$gray-50;
                font-size: 1rem;
                font-weight: 500;

                td {
                    padding: 10px 5px;
                }
            }
        }

        &__buttons {
            display: flex;
            gap: 10px;
            justify-content: space-between;
            .deny,
            .accept {
                border: none;
                padding: 10px 15px;
                border-radius: 8px;
            }

            .accept {
                background: colors.$blue-900;
                color: white;

            }
        }
    }
}