@use '../colors';
@use '../breakpoints';


.admin-dashboard {
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &--greeting {
        background-color: white;
        border-radius: 15px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 5px;

        &__greeting {
            font-size: 24px;
            font-weight: bold;
            color: colors.$gray-800
        }

        &__date {
            font-weight: 500;
        }
    }

    &--charts {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        justify-content: center;

        &__graph-by-month {

            // background-color: white;            
            .graph-card-wrapper {
                display: flex;
                flex-flow: row wrap;
                gap: 10px;

                &--graph {
                    
                    background-color: white;
                    padding: 10px;
                    border-radius: 15px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    width: 100%;

                    &__label {
                        .title {
                            font-size: 24px;
                            font-weight: bold;
                            color: colors.$gray-800
                        }

                        .description {
                            font-size: 12px;

                        }
                    }
                }

                &--cards {
                    
                    // display: flex;
                    // flex-direction: row;
                    // gap: 10px;
                    height: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;
                    width: 100%;

                    .card {
                        cursor: pointer;
                        height: auto;
                        flex-grow: 1;
                        width: 45%;
                    }
                }
            }

            .select-month {
                display: flex;
                flex-direction: column;
                gap: 10px;
                background-color: white;
                padding: 10px;
                border-radius: 15px;
                width: 100%;

                p {
                    font-weight: bold;

                }

                &--options {
                    width: 100%;
                    display: flex;

                    &__item {
                        display: flex;
                        flex-flow: row wrap;
                        gap: 10px;

                        div {
                            cursor: pointer;
                            border: 1px solid colors.$gray-400;
                            border-radius: 15px;

                            p {
                                font-size: 16px;
                                font-weight: 500;
                                text-align: center;
                                padding: 2px 10px;
                            }
                        }
                    }
                }
            }

            .compare-charts-group {
                display: flex;
                flex-flow: row wrap;
                width: 100%;
                justify-content: center;
                align-items: center;
                gap: 10px;

                .graph-pies {
                    width: 100%;
                    // background-color: white;
                    border-radius: 15px;
                    display: flex;
                    flex-flow: row wrap;

                    // gap: 10px;   
                    &--order-scheduled {
                        width: 50%;
                        padding: 0px 5px;
                        border-radius: 15px;
                    }

                    &--most-refilled {
                        padding: 0px 5px;
                        border-radius: 15px;
                        width: 50%;
                    }
                }

                .line-charts-profit-expenses {
                    width: 100%;
                    padding: 0px 5px;

                    &--chart {
                        border-radius: 15px;
                        background-color: white;
                        padding: 10px;

                        &__selector {
                            background-color: colors.$gray-100;
                            border-radius: 10px;
                            display: flex;
                            justify-content: space-around;
                            padding: 5px;
                            gap: 5px;

                            .item {
                                background: colors.$gray-800;
                                color: white;
                                padding: 5px 10px;
                                border-radius: 10px;
                                width: 100%;

                                p {
                                    text-align: center;
                                }
                            }
                        }
                    }
                }

            }

        }

        &__graph-places {
            background-color: white;
            border-radius: 15px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            height: auto;
            .label {

                .title {
                    font-size: 24px;
                    font-weight: bold;
                    color: colors.$gray-800;
                }

                .description {
                    font-size: 12px;

                }
            }
        }
    }

}

@media only screen and (min-width:breakpoints.$md) {
    .admin-dashboard {
        .admin-dashboard {
            &--charts {
                width: 100%;
                &__graph-by-month {    
                    .graph-card-wrapper {
                        &--graph {
                            width: 100%;
                        }
    
                        &--cards {
                            width: 100%;
                        }
                    }
                    .compare-charts-group {
                        gap: 0px;
    
                        .graph-pies {
                            width: 50%;
                            height: 100%;
                            align-items: center;
                            
    
                            
                        }
    
                        .line-charts-profit-expenses {
                            width: 50%;
                        }
                    }
                }
               
            }
    }


}
}


@media only screen and (min-width:breakpoints.$xl) {
    .admin-dashboard {
        &--charts {
            &__graph-by-month {
                width: 49%
            }

            &__graph-places {
                width: 49%
            }
        }
    }


}