@use '../colors';
@use '../breakpoints';

.admin-inventory-add-gallon {
    border-radius: 15px 15px 0px 0px;
    background-color: white;
    padding: 10px;
    max-width: 500px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    transform: translateY(-50%);
    width: 100%;
    animation: slideUp 0.2s ease forwards;
      height: 100%;
    
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 3px;

    }

    &::-webkit-scrollbar-track {
        background-color: colors.$gray-100;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: colors.$gray-300;
        border-radius: 10px;
    }
    &--head {
        display: flex;
        justify-content: space-between;
        background-color: colors.$gray-50;
        padding: 0px 10px;
        border-radius: 10px;
        // margin: 10px 0px;
        p {
            font-size: 1rem;
            font-weight: 600;
        }

        button {
            font-size: 1.6rem;
            background: none;
            border: none;

        }
    }

    .select-gallon,
    .gallon-description {
        margin-left: 10px;
        font-weight: 500;
    }

    &--images {
        display: flex;


        &__input-file {
            // outline: 1px solid blue;
            border-radius: 8px;
            width: 150px;
            height: 150px;
            display: flex;
            padding: 10px;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-right: 15px;
            background-color: none;
            .icon {
                width: 30px;
                height: auto;
                // outline: 2px solid green;
                position: absolute;
                color: colors.$blue-900;
            }

            input {
                position: absolute;
                opacity: 0;
                width: 100%;
                height: auto;
                z-index: 1;
            }
        }

        &__list {
            display: flex;
            width: 100%;
            // flex-flow: row nowrap;
            // outline: 1px solid blue;
            // justify-content: center;
            align-items: center;
            gap: 10px;
            padding-left: 10px;

            img {

                height: 100px;
                width: auto;
                border-radius: 10px;

                &:hover {
                    outline: 2px solid colors.$blue-400;
                }
            }
        }
    }

    &--inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        .prices{
            
            display: flex;
            flex-direction: column;
            gap: 10px;
            .title{
                font-weight: 600;
            }
        }

    }

    &--buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        button{
            width: 144px;
        height: 41px;
        border-radius: 50px;
        border: none;
        
        }
        .add{
            background: colors.$blue-900;
            color: white;
        }
    }
}
@keyframes slideUp{
    from {
      opacity: 0;
      transform: translateY(120%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }