@use '../colors';
@use '../breakpoints';

.admin-reports {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &--summary {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        padding: 10px;
        background-color: white;
        border-radius: 15px;
        box-sizing: border-box;

        &__total-earnings {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
            gap: 5px;
            color: white;
            border-radius: 10px;
            padding: 20px 10px;
            background: linear-gradient(289.64deg, #446AF0 3.77%, #66B5F4 67.19%);
            width: 100%;
            .title {
                font-size: 1.3rem;
                font-weight: 600;
            }

            .amount {
                font-size: 2.5rem;
                font-weight: 700;

            }

            .credits {
                padding: 10px 20px;
                width: fit-content;
                background-color: rgba($color: #000000, $alpha: 0.5);
                border-radius: 15px;
            }
        }

        &__queries {
            display: flex;
            flex-flow: row wrap;
            // gap: 10px;
            flex-grow: 1;
            width: 100%;
            
            
            .item {
                display: flex;
                flex-direction: column;
                // flex-grow: 1;
                // width: 120px;
                margin: 2px 5%;
                width: 90% ;
                // margin: 5px 2px;
                // outline: 1px solid blue;
                align-items: center;
                justify-content: center;
                height: 70px;
                border: 1px solid colors.$gray-300;
                border-radius: 10px;
                span {
                    text-align: center;
                    color: colors.$gray-800;
                }

                .title {
                    font-size: 14px;
                    font-weight: 500;
                    color: colors.$gray-400;
                }

                .amount {
                    font-size: 2rem;
                    font-weight: 700;

                }

            }
        }
    }

    &--datagrid{
        border-radius: 10px 10px 0px 0px;
        // outline: 1px solid blue;
        margin: 0px 5px;
        overflow: hidden;
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        &__header{
            background-color: colors.$blue-900;
            padding: 20px 10px;
            span{
                color:white;
                
            }
        }

    }
    
}
@media only screen and (min-width:breakpoints.$xs){
    .admin-reports{
        &--summary{
            &__queries{
                
                .item{
                    // width: 49%;
                    // outline: 1px solid blue;
                    // margin: 3.33333%;
                    margin: 2.5%;
                    width: 45%;
                }
            }
        }
    }
}
@media only screen and (min-width:breakpoints.$sm){
    .admin-reports{
        &--summary{
            &__total-earnings{
                width: 40%;
            }
            &__queries{
                width: 60%;
                .item{
                    margin:0px 1.66666%;
                    width: 30%;
                    // outline: 1px solid blue;
                }
            }
        }
    }
}

@media only screen and (min-width:breakpoints.$xl){
    .admin-reports{
        &--summary{
            &__total-earnings{
                width: 25%;
            }
            &__queries{
                width: 75%;
                .item{
                    margin: 2px 1.25%;
                    width: 22.5%;
                    // outline: 1px solid blue;
                }
            }
        }
    }
}