@use '../colors';
@use '../breakpoints';

.topbar {
    background-color: white;
    height: 70px;
    border-radius: 10px;
    padding: 0px 10px;
    // justify-self: flex-start;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        
        button {
            background: none;
            border: none;
            height: 50px;
            width: 50px;
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:hover{
                background: colors.$gray-200;
                border-radius: 10px;
            }
        }

    }
    &--right-options{
        display: flex;
        flex-direction: row;
        gap: 0px 10px;
        padding: 5px;
        overflow: hidden;
        max-height: 100%;

        &__profile {
            display: flex;  
            align-items: center;
            gap: 15px;
            cursor: pointer;
            padding: 5px 10px;
            border-radius: 10px;
            background-color: colors.$gray-100;
            .name{
                font-size: 1rem;
                font-weight: 500;
                color: colors.$gray-800;
            }
    
            img {
                border-radius: 50%;
                height: 40px;
                width: auto;
            }
        }
    }

}
@media only screen and (max-width: breakpoints.$xs) {
    .topbar{
        &--right-options{
            .name{
                display: none;
            }
        }
    }
}