@use '../colors';

.admin-customers {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    gap: 10px;
    width: 100%;

    .table-customers {
        display: flex;
        flex-direction: column;
        gap: 10px;
        // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        // padding: 10px;
        // border-radius: 15px;

        &--header {
            display: flex;
            flex-flow: row wrap;
            justify-content:space-between;
            &__title-description {
                .title {
                    font-size: 24px;
                    font-weight: 500;
                    color: colors.$gray-800;
                }
                .description {
                    font-size: 14px;
                    color: colors.$gray-400;
                }
            }
            &__menu{

            }

        }
    }
}