@use '../colors';

.textinput{
    position: relative;
    height: 60px;
    width: 100%;
    overflow: hidden;
    border-radius: 2px;
    
    &--label, &--input{
        height: 100%;
        width: 100%;
    }
    &--input{
        background: rgba($color: colors.$gray-100, $alpha: 1);
        border: none;
        outline: none;
        
        padding: 10px;
        // min-width: 300px;
        // padding: 10px;
        bottom: 0px;
        
        font-weight: 500;
        color: colors.$gray-800;
        font-size: 16px;
    }
    &--label{
        pointer-events: none;
        position: absolute;
        top: -4px;
        left: 10px;
        font-weight: 600;
        font-size: 16px;
        font-weight: 400;
        color: colors.$gray-800;
        border-bottom: 1px solid colors.$gray-300;
        &::after{
            content: '';
            position: absolute;
            left: -10px;
            bottom: 0px;
            height: 100%;
            width: 100%;
            border-bottom: 2px solid colors.$blue-900;
            transform: translateX(-120%);
            transition: transform 300ms ease-in-out ;

        }
        span{
            position: absolute;
            bottom: 5px;
            left: 0px;
            transition: all 300ms ease;
        }

    }
    &--input:focus + &--label .content-name, 
    &--input:not(:placeholder-shown) + &--label .content-name{
        transform: translateY(-170%);
        font-size: 14px;
        color: colors.$gray-800;
    }
    &--input:focus + &--label::after,
    &--input:not(:placeholder-shown) + &--label::after{
        transform: translateX(0%);
    }

}
