@use '../colors';

.topbar {
    background-color: white;
    height: 70px;
    border-radius: 10px;
    padding: 0px 10px;
    // justify-self: flex-start;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        
        button {
            background: none;
            border: none;
            height: 50px;
            width: 50px;
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:hover{
                background: colors.$gray-200;
                border-radius: 10px;
            }
        }

    }

    &--profile {
        display: flex;  
        align-items: center;
        gap: 10px;
        .name{
            font-size: 1.2rem;
            font-weight: bold;
            color: colors.$gray-800;
        }

        img {
            border-radius: 50%;
            height: 40px;
            width: auto;
        }
    }
}