@use '../colors';
@use '../breakpoints';

.home-register {
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    gap: 2.5%;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;

    &--admin-register-pin-location {
        background: colors.$gray-100;
        height: 50px;
        width: auto;
        color: red;
        font-size: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        padding: 5px 10px;

        span {
            font-size: 22px;
            font-weight: bold;
            width: 100%;
            color: colors.$gray-800;
        }
    }

    &--steps {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__one,
        &__two {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: white;
            padding: 10px;
            transition: all ease 0.3s;

            .title {
                font-size: 24px;
                font-weight: 700;
                color: colors.$gray-800;
                margin: 5px;
            }

            .detail {
                font-size: 14px;
                color: colors.$gray-800;
                margin: 5px;
            }

            .next {
                font-weight: 400;
                border: none;
                background-color: colors.$blue-900;
                color: white;
                width: 100%;
                height: 45px;
                border-radius: 30px;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &__two {
            .back {
                text-decoration: none;

            }

            .address {
                font-size: 1rem;
                font-weight: 600;
                color: colors.$gray-800;
            }

            .register-admin-submit {
                font-weight: 400;
                border: none;
                background-color: colors.$blue-900;
                color: white;
                width: 100%;
                height: 45px;
                border-radius: 30px;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }

        }
    }


    &--map {
        display: none;
        width: 100%;
        // display: none;
        min-height: 500px;
        height: 100%;

        &__header {
            display: flex;
            flex-direction: column;

            // justify-content: center;
            p:nth-child(1) {
                font-size: 2rem;
                font-weight: 300;
                margin: 5px;
            }

            p:nth-child(2) {
                color: colors.$gray-400;
                font-size: 14px;
                margin: 5px;
            }

            p:nth-child(3),
            p:nth-child(4) {
                margin: 2px;
                font-weight: 500;
            }
        }
    }
}

@media only screen and (min-width:breakpoints.$lg) {
    .home-register {
        &--step-one-form {
            width: 47.25%;
        }

        &--admin-register-pin-location {
            display: none;

        }

        &--map {
            border-radius: 10px;
            width: 47.25%;
            display: flex;
            overflow: hidden;
            flex-direction: column;
            // align-items: center;
            justify-content: center;

            // height: 300px;
            &__header {
                p:nth-child(1) {
                    font-size: 2rem;
                    font-weight: 600;
                    margin: 5px;
                }

                p:nth-child(2) {
                    color: colors.$gray-400;
                    font-size: 14px;
                    margin: 5px;
                }
            }
        }
    }
}
