@use '../colors';
@use '../breakpoints';

.loading-screen-container {
    position: fixed;
    bottom: 50px;
    right: 50px;

    &--cup {
        height: 150px;
        margin: 0px;
    }

    &--loading-text-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        font-weight: 600;
        gap: 2px;

        &__loading-text {
            font-size: 32px;

        }

        &__dot-1 {
            font-size: 45px;
            // animation: name duration timing-function delay iteration-count direction fill-mode;
            animation: dot-opacity-increasing 900ms ease-in-out 0ms infinite;
        }

        &__dot-2 {
            font-size: 45px;
            animation: dot-opacity-increasing 900ms ease-in-out 600ms infinite;

        }

        &__dot-3 {
            font-size: 45px;
            animation: dot-opacity-increasing 900ms ease-in-out 900ms infinite;

        }
    }
}

@keyframes dot-opacity-increasing {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}