@use '../colors';


.leaflet-map-container {
    height: 60vh;
    border-radius: 15px;
    padding: 15px;
    background-color: colors.$gray-100;
    z-index: 1;
    div{
        p{
            margin: 10px;
        }
    }
}

// #map{
//     height: 100px;
// width: 100px;
// outline: 1px solid green;
// }