@use '../colors';


.textinput {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;

    &--label {
        text-align: start;
        font-size: 16px;
        font-weight: 700;
        color: colors.$gray-600;
        padding: 2px 0px;
    }

    &--input {
        outline: none;
        // border: none;
        height: 45px;
        width: 100%;
        border-radius: 10px;
        padding: 10px;
        font-weight: 500;
        background-color: colors.$gray-50;
        border: 1px solid colors.$gray-300;

        &:focus {
            border: 2px solid rgba(colors.$blue-900, $alpha: 0.7);
        }
    }

    &--input-err {
        border: 1px solid rgb(238, 68, 16);
    }
}

.text-input-error {
    padding-left: 20px;
    font-size: 0.7rem;
    color: rgb(238, 68, 16);
    margin: 0px;

}

// second text input without formik.

.textinput-div {
    position: relative;

    width: 100%;
    overflow: hidden;
    border-radius: 2px;
    align-items: center;

    &--label {
        font-weight: 500;
        color: colors.$gray-500;
    }

    &--label,
    &--input {
        height: 100%;
        width: 100%;
    }

    &--input {
        background: rgba($color: colors.$gray-100, $alpha: 1);
        border: none;
        height: 60px;
        outline: none;
        align-items: center;
        padding: 0px 10px;
        font-weight: 500;
        color: colors.$gray-800;
        font-size: 16px;
        border-radius: 15px;
    }



}