@use '../../colors';
@use '../../breakpoints';

.inventory {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    gap: 10px;
    width: 100%;

    .table-gallon, .table-vehicle {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &--header {
            &__title {
                font-size: 24px;
                font-weight: 500;
                color: colors.$gray-800;

            }

            &__description {
                font-size: 14px;
                color: colors.$gray-400;
            }
        }
    }

}