@use '../../colors';
@use '../../breakpoints';

.report-table-transactions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
    max-width: 100%;

    &--prev,
    &--next {
        padding: 5px 15px;
        font-weight: thick;
        border-radius: 15px;
        border: 1px solid colors.$gray-200;
        font-size: 14px;
        &:hover {
            background-color: colors.$blue-900;
            color: white;

        }
    }

    &--pages {
        display: flex;
        flex-direction: row;
        gap: 5px;
        
        &__page {
            
            display: flex;
            align-items: center;
            justify-content: center;
            height: 35px;
            width: 40px;
            border-radius: 15px;
            border: 1px solid colors.$gray-200;

        }

        .active-page {
            background-color: colors.$blue-900;
            color: white;
        }
    }



}