@use '../colors';
@use '../breakpoints';

.home {
    width: 100%;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: hidden;

    &--outlet {
        height: 100%;
        width: 100%;
        position: relative;
        background-color: white;
        display: flex;
        align-items: center;
        /* center vertically */
        justify-content: center;
        /* center horizontally */
        margin: 5% auto;
    }

    &--footer {
        background-color: colors.$gray-100;
        display: flex;
        gap: 10px;
        flex-flow: row wrap;
    }
}