@use '../colors';
@use '../breakpoints';

.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    position:relative;

    &--outlet {
        height: 100%;
        width: 100%;
        position: relative;
        background-color: white;
        display: flex;

        align-items: center;
        z-index: 99;
        min-height: 100vh;
    }

    &--footer {
        background-color: colors.$gray-100;
        display: flex;
        gap: 10px;
        flex-flow: row wrap;

    }


}