@use '../../colors';
@use '../../breakpoints';

.set-new-password {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--wrapper {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        gap: 15px;
        padding: 10px;

        &__icon,
        &__title,
        &__description,
        &__send-button,
        &__input {
            text-align: center;
            width: 100%;
            margin: 0;
        }

        &__icon {
            margin: auto;
            border-radius: 100%;
            width: fit-content;
            font-size: 32px;
            height: 60px;
            width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            color: colors.$blue-900;
            background-color: colors.$blue-100;
            position: relative;

            &::before {
                opacity: 40%;
                content: '';
                position: absolute;
                top: -20%;
                border-radius: 100%;
                width: 140%;
                height: 140%;
                background-color: colors.$blue-100;

            }
        }

        &__title {
            font-size: 1.5rem;
            font-weight: bold;
            color: colors.$gray-800;
        }

        &__description {
            font-weight: 500;
            color: colors.$gray-500;
        }

        &__input {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            
        }
        &__error{
            margin: 0px;
            font-size: 14px;
            font-weight: 500;
            color: red;
            padding: 0px 10px;
        }
        &__show-password{
            margin: -10px 0px;
            display: flex;
            gap: 5px;
            color: colors.$blue-900;
            cursor: pointer;
        }
        &__send-button {
            margin: 0px;
            background-color: colors.$blue-900;
            border: none;
            outline: none;
            height: 50px;
            border-radius: 15px;
            font-weight: 500;
            color: white;
            cursor: pointer;
        }

        &__back-button {
            border: none;
            background: none;
            outline: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            padding: 5px 10px;
            border-radius: 10px;
            gap: 5px;
            font-size: 0.9rem;
            cursor: pointer;
            &:hover{
                background-color: rgba(colors.$blue-100, $alpha: 0.2);
            }
            
        }
    }
}